name: Busted

on: [ push, pull_request ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  busted:
    strategy:
      fail-fast: false
      matrix:
        luaVersion: [ "5.5", "5.4", "5.3", "5.2", "5.1", "luajit", "luajit-openresty" ]
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install lua
        uses: luarocks/gh-actions-lua@master
        with:
          luaVersion: ${{ matrix.luaVersion }}
      - name: Install luarocks
        uses: luarocks/gh-actions-luarocks@master
      - name: Install Rust
        uses: actions-rs/toolchain@v1
      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
      - name: Setup dependencies
        run: |
          luarocks install --only-deps -- decasify-dev-1.rockspec
          luarocks install busted
      - name: Build and install Lua module locally
        run: |
          luarocks make
      - name: Run busted tests
        run: busted -v
