name: Luacheck

on: [ push, pull_request ]

jobs:

  luacheck:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: luacheck
        uses: lunarmodules/luacheck@v1
