name: Release

on:
  push:
    tags:
      - v*.*.*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  ghrelase:
    strategy:
      fail-fast: false
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Configure
        run: |
          ./bootstrap.sh
          ./configure \
              BUSTED=: \
              CARGO_SET_VERSION=: \
              GIT_CLIFF=: \
              JUST=: \
              LUAROCKS=: \
              MATURIN=: \
              NPM: \
              PANDOC=: \
              PDF2SVG=: \
              PYTEST=: \
              SILE=: \
              SVGO=: \
              TAPLO=: \
              TYPOS=: \
              TYPST=: \
              UV=: \
              WASM_OPT=: \
              WASM_PACK=: \
            --enable-developer-mode \
            --without-{bash,fish,zsh}-completion-dir
          echo "VERSION=$(./build-aux/git-version-gen .tarball-version)" >> $GITHUB_ENV
      - name: Build source package
        run: |
          make dist
      - name: Publish Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            decasify-${{ env.VERSION }}.zip
            decasify-${{ env.VERSION }}.tar.zst
            decasify-${{ env.VERSION }}.sha256.txt
